/* (edit style.css for your own book styles) */

.meme img {
  width: 100%;
}
.meme {
  display: inline-block;
  max-width: 33% !important;
  margin: 0.5em;
}

.right {
  float: right;
  margin-right: 0;
}

.left {
  float: left;
  margin-left: 0;
}

pre.mcq {
  padding: 0 !important;
  margin: 0 !important;
  background-color: none;
  display: inline;
  border: none !important;
  border-radius: none;
}

a.video { 
  text-indent: -9999px;
  content: url("../images/icons/video.svg");
  margin: 0 3px 0 5px;
  width: 20px;
  height: 20px;
}

/* references with hanging indent */
.csl-entry {
  padding-left: 2em ;
  text-indent: -2em ;
}

.package { font-weight: 600; }
.package::before { content: "{"; }
.package::after { content: "}"; }

/* rainbow borders */
body {
  margin-top: 18px;
  box-shadow: 0 -3px 0 0px var(--purple),
              0 -6px 0 0px var(--blue),
              0 -9px 0 0px var(--green),
              0 -12px 0 0px var(--yellow),
              0 -15px 0 0px var(--orange),
              0 -18px 0 0px var(--pink);
}

